
@import '../../../../../theme/typography.scss';

#chart {
  padding: 0;
  max-width: 650px;
  margin: 35px auto;
}


ion-grid{
  ion-row{
    display: block;
    .chart-container{
      max-width: 400px;
      max-height: 400px;
      display:block  !important;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
    }
  }
}
label{
   @include mfc-card-header;
}
