<ion-grid class="ion-margin-top">
  <ion-item lines="none"color="light">
    <ion-label class="title">New Launched</ion-label>
    </ion-item>
  <ion-row>
    <swiper-container class="mySwiper " navigation="true">
      <swiper-slide *ngFor="let slide of slides" class="ion-no-margin ion-no-padding">
        <ion-card class="ion-margin ion-no-padding"  >
          <ion-card-header class="ion-no-margin ion-no-padding">
            <img [src]="slide?.image" alt="{{slide.id}}">
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-item lines="none">
              <ion-text class="price" slot="end" color="primary"><b>Somewhere</b></ion-text>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </ion-row>
</ion-grid>

<ion-row>
  <swiper-container class="mySwiper" navigation="true" pagination="true" pagination-dynamic-bullets="true">
    <swiper-slide *ngFor="let slide of slides" class="ion-no-margin ion-no-padding">
      <ion-card class="ion-no-margin"  >
        <ion-card-header class="ion-no-padding">
          <img [src]="slide?.image" alt="{{slide.id}}">
        </ion-card-header>
        <ion-card-content class="ion-no-padding">
          <ion-item lines="none">
            <ion-text class="price" slot="end" color="primary"><b>Somewhere</b></ion-text>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>
</ion-row>
