<ion-card class="mini-card1">
  <ion-card-header>
    <ion-item class="card1-header-item" lines="none">
      <h1>Chart 1</h1>
      <ion-button fill="clear" slot="end" id="popover-button1">Open Menu</ion-button>
      <ion-popover trigger="popover-button1" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [button]="true" [detail]="false">Option 1</ion-item>
              <ion-item [button]="true" [detail]="false">Option 2</ion-item>
              <ion-item [button]="true" id="nested-trigger">More options...</ion-item>

              <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
                <ng-template>
                  <ion-content>
                    <ion-list>
                      <ion-item [button]="true" [detail]="false">Nested option</ion-item>
                    </ion-list>
                  </ion-content>
                </ng-template>
              </ion-popover>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>

    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ioo-grid>
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">

            <h4 class="ion-text-center">I am a Mini Card Content Here</h4>
            <div id="chart">



              <apx-chart
                [series]="totalChartOptions.series!"
                [chart]="totalChartOptions.chart!"
                [plotOptions]="totalChartOptions.plotOptions!"
                [labels]="totalChartOptions.labels!"
                [fill]="totalChartOptions.fill!"
                [colors]="totalChartOptions.colors!"
              ></apx-chart>
            </div>

        </ion-col>
        <ion-col size="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">

            <h4 class="ion-text-center">I am a Mini Card Content Here</h4>
            <div id="chart">
              <apx-chart
                [series]="clientChartOptions.series!"
                [chart]="clientChartOptions.chart!"
                [plotOptions]="clientChartOptions.plotOptions!"
                [labels]="clientChartOptions.labels!"
                [fill]="clientChartOptions.fill!"
                [colors]="clientChartOptions.colors!"
              ></apx-chart>
            </div>


        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">

            <h4 class="ion-text-center">I am a Mini Card Content Here</h4>
            <div id="chart">
              <apx-chart
                [series]="productSoldChartOptions.series!"
                [chart]="productSoldChartOptions.chart!"
                [plotOptions]="productSoldChartOptions.plotOptions!"
                [labels]="productSoldChartOptions.labels!"
                [fill]="productSoldChartOptions.fill!"
                [colors]="productSoldChartOptions.colors!"
              ></apx-chart>
            </div>


        </ion-col>
        <ion-col size="12" size-sm="12" size-md="12" size-lg="6" size-xl="6">

            <h4 class="ion-text-center">I am a Mini Card Content Here</h4>
            <div id="chart">
              <apx-chart
                [series]="followersChartOptions.series!"
                [chart]="followersChartOptions.chart!"
                [plotOptions]="followersChartOptions.plotOptions!"
                [labels]="followersChartOptions.labels!"
                [fill]="followersChartOptions.fill!"
                [colors]="followersChartOptions.colors!"
              ></apx-chart>
            </div>


        </ion-col>

      </ion-row>
    </ioo-grid>


  </ion-card-content>

</ion-card>
