<ion-header [translucent]="true">
  <ion-item-group>
    <ion-item lines="none" >
      <div slot="end">
        <ion-thumbnail>
          <img src="../../../assets/images/logo.webp" alt="img">
        </ion-thumbnail>
      </div>
      <div class="back" slot="start">
        <ion-back-button defaultHref="start"></ion-back-button>
      </div>
    </ion-item>
  </ion-item-group>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-title>You are now logged in </ion-title>
  <ion-button expand="block" class="ion-margin-top" color="tertiary" (click)="handleLogout()">Logout</ion-button>
</ion-content>
