<ion-header [translucent]="true">
  <ion-item-group>
    <ion-item lines="none">
      <div slot="end">
        <ion-thumbnail>
          <img src="../../../assets/images/logo.webp" alt="img">
        </ion-thumbnail>
      </div>
      <div class="back" slot="start">
        <ion-back-button defaultHref="start"></ion-back-button>
      </div>
    </ion-item>
  </ion-item-group>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-segment [value]="activeSegment$ | async">
  <ion-segment-button value="buy-new-car" (click)="activeSegment$.next('buy-new-car')">
      <ion-label>Buy new car</ion-label>
    </ion-segment-button>
    <ion-segment-button value="buy-old-car" (click)="activeSegment$.next('buy-old-car')">
      <ion-label>Buy old car</ion-label>
    </ion-segment-button>
   <ion-segment-button value="sell-my-car" (click)="activeSegment$.next('sell-my-car')">
      <ion-label>Sell my car</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="(activeSegment$ | async) === 'buy-new-car'">
    <mfc-home-new-car></mfc-home-new-car>
  </div>
  <div *ngIf="(activeSegment$ | async) === 'buy-old-car'">
    <mfc-home-old-car></mfc-home-old-car>
  </div>
  <div *ngIf="(activeSegment$ | async) === 'sell-my-car'">
    <mfc-home-sell-car></mfc-home-sell-car>
  </div>
</ion-content>
