<ng-container *transloco="let t; read:'pages.login'">
  <ion-card class="card-center ion-text-center ion-no-margin" color="tertiary">
    <ion-card-header>
      <div ion-text-start class="ion-text-start ion-text-uppercase ion-margin-top">
        <h1>
          pay new<br />
          cars<br />
          or sell<br />
          your<br />
          car
        </h1>
      </div>
    </ion-card-header>
    <ion-button expand="block" color="dark" align="bottom" (click)="onLoginButtonCliked()">{{t('login')}}</ion-button>


  </ion-card>

</ng-container>
