<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Header</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content >
  <ion-grid class="ion-no-margin">
    <ion-row>
      <div class="component-title">
        <h3>Action-sheet</h3>
        <mfc-action-sheet></mfc-action-sheet>
      </div>
    </ion-row>
    <ion-row>
      <div class="component-title">
        <h3>Accordion</h3>
        <mfc-accordion></mfc-accordion>
      </div>
    </ion-row>
    <ion-row>
      <div class="component-title">
        <h3>Alerts</h3>
        <mfc-alert></mfc-alert>
      </div>
    </ion-row>
    <ion-row>
      <div class="component-title">
        <h3>Badge</h3>
        <mfc-badge></mfc-badge>
      </div>
    </ion-row>

    <ion-row>
      <div class="component-title">
        <h3>Breadcrumb</h3>
        <mfc-breadcrumb></mfc-breadcrumb>
      </div>
    </ion-row>

    <ion-row>
      <div class="component-title">
        <h3>Buttons</h3>
        <mfc-buttons></mfc-buttons>
      </div>
    </ion-row>

  </ion-grid>


</ion-content>
