@import "../../../theme/typography.scss";

ion-menu {
  ion-header {
    ion-toolbar {
      ion-title {
      }
    }
  }
  ion-content {
  }
}

ion-header {
  border-color: transparent !important;
  border-image-width: 0 !important;
  border: none;
  box-shadow: none;
  --min-height: 48px;
  --max-height: 100px;
  ion-toolbar {
    --max-height: 100px;
    --min-height: 90px;
    --background: transparent;
    --bordr-color: transparent;
    --border: none;

    ion-toolbar::shadow {
      box-sizing: content-box;
    }
  }
  ion-buttons[slot="end"] {
    margin-right: 20px;
  }
  ion-buttons[slot="start"] {
    margin-left: 20px;
  }
}

ion-content {
  --offset-top: 0px;
  position: absolute;


  ion-row {
    div.header-bg {
      position: relative;
      width: 100%;
      height: 788px;
      background: url(../../../assets/images/mfc/headerBackground.png) no-repeat center ;
      background-size: cover;
    }
    // margin: 10px auto;
    div.component-title {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      h3 {
        position: relative;
        margin: 30px;
        @include mfc-title;
      }
    }
  }
}

.toolbar-container {
  box-sizing: content-box;
}
ion-list {
  background: none;
  transform: translate(-50%, -50%);
  left: 7.5%;
  position: absolute;
  width: 85%;
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  height: 21%;
  top: 35%;
  .logo {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 25%;
    --background: none;
  }
  .slogin {
    @include mfc-title;
    color: aquamarine;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    --background: none;
  }
}

@media(min-width: 580px ) {
  ion-list {
    height: 55%;
    top: 12%;

    .slogin {

      font-size: 3.8rem
    }
  }

}
