@import "../../../theme/typography.scss";

ion-content {
  ion-row{
    margin: 10px auto;
    div.component-title{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      h3{
        position: relative;
        margin: 30px;
        @include mfc-title;
      }
    }
  }

}



