<ion-header [translucent]="true" #header>
  <ion-toolbar #toolbar>

    <ion-buttons slot="start" >
      <ion-button (click)="close()" shape="round">
        <ion-icon slot="icon-only" name="close" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" >
      <ion-button (click)="close()" shape="round">
        <ion-icon slot="icon-only" name="share" ></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons >
      <ion-button (click)="close()" shape="round">
        <ion-icon slot="icon-only" name="heart" ></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" scrollEvents="true" [appFadeHeader]="toolbar" >
  <!-- <ion-content [fullscreen]="true" scrollEvents="true" [appHideHeader]="header" > -->
  <img src="assets/images/mfc/headerBackground.png" alt="HeaderImage">
  <ion-grid class="ion-no-margin">
    <ion-row>
      <div class="component-title">
        <h3>Action-sheet</h3>
        <mfc-action-sheet></mfc-action-sheet>
      </div>
    </ion-row>
    <ion-row>
      <div class="component-title">
        <h3>Accordion</h3>
        <mfc-accordion></mfc-accordion>
      </div>
    </ion-row>
    <ion-row>
      <div class="component-title">
        <h3>Alerts</h3>
        <mfc-alert></mfc-alert>
      </div>
    </ion-row>
    <ion-row>
      <div class="component-title">
        <h3>Badge</h3>
        <mfc-badge></mfc-badge>
      </div>
    </ion-row>

    <ion-row>
      <div class="component-title">
        <h3>Breadcrumb</h3>
        <mfc-breadcrumb></mfc-breadcrumb>
      </div>
    </ion-row>

    <ion-row>
      <div class="component-title">
        <h3>Buttons</h3>
        <mfc-buttons></mfc-buttons>
      </div>
    </ion-row>

    <ion-row>
      <div class="component-title">
        <h3>card</h3>
        <mfc-card></mfc-card>
      </div>
    </ion-row>

  </ion-grid>


</ion-content>
