<ion-header [translucent]="true">
  <ion-item-group>
    <ion-item lines="none">
      <div slot="end">
        <ion-thumbnail>
          <img src="../../../assets/images/logo.webp" alt="img">
        </ion-thumbnail>
      </div>
      <div class="back" slot="start">
        <ion-back-button defaultHref="tabs/home"></ion-back-button>
      </div>
    </ion-item>
  </ion-item-group>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-segment [value]=selectedSegment>
  <ion-segment-button value="buy-new-car" (click)="setActiveSegment('buy-new-car')">
      <ion-label>Buy new car</ion-label>
    </ion-segment-button>
    <ion-segment-button value="buy-old-car" (click)="setActiveSegment('buy-old-car')">
      <ion-label>Buy old car</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="selectedSegment === 'buy-new-car'">
    <mfc-car-list [activeSegment]=selectedSegment></mfc-car-list>
  </div>
  <div *ngIf="selectedSegment === 'buy-old-car'">
    <mfc-car-list [activeSegment]=selectedSegment ></mfc-car-list>
  </div>

</ion-content>
