<ion-grid class="ion-margin-top">
  <ion-item lines="none"color="light">
    <ion-label class="title">Top 10 Cars</ion-label>
    <ion-button slot="end" size="small" shape="round" color="primary">View All</ion-button>
  </ion-item>
  <ion-row>
    <swiper-container [slidesPerView]="2.5">
      <swiper-slide *ngFor="let car of topCars" class="ion-margin">
        <ion-card class="ion-no-margin"  [routerLink]="['/', 'car', car.id]">
          <ion-card-header class="ion-no-padding">
            <img [src]="car?.img" alt="{{car?.name}}">
          </ion-card-header>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </ion-row>
</ion-grid>
