
  ion-row.header-cards{
    position: relative;
    height: 10%;
    // margin-bottom: 10px;
  }
  ion-row.chart-cards{
    position: relative;
    height: 30%;
    // margin-bottom: 10px;
  }


