<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [name]="selectedTab === 'home' ? 'home': 'home-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon [name]="selectedTab === 'profile' ? 'person': 'person-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon [name]="selectedTab === 'settings' ? 'settings': 'settings-outline'"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="mfc">
      <ion-icon [name]="selectedTab === 'mfc'? 'settings': 'settings-outline' "></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!--
<ion-tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
       </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
