<h3  class="ion-text-center">Super Driver</h3>
<ion-avatar>
  <img alt="avatar" src="assets/images/mfc/carDriver.jpg" />
</ion-avatar>

<ion-chip color="mfc-info">
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="assets/images/mfc/carDriver2.jpg" />
  </ion-avatar>
  <ion-label>Chip Avatar</ion-label>
</ion-chip>

<ion-item>
  <ion-avatar slot="start">
    <img alt="Silhouette of a person's head" src="assets/images/mfc/cardBG1.jpg"/>
  </ion-avatar>
  <ion-label>Item Avatar</ion-label>
</ion-item>
