
<div>
  <h4>Pick your style</h4>
  <ion-buttons>
    <ion-button color="mfc-danger" fill="solid">Default</ion-button>
    <ion-button color="mfc-danger" fill="solid" shape="round">round</ion-button>
    <ion-button color="mfc-danger" fill="solid" shape="round">round
        <ion-icon slot="start" name="heart"></ion-icon>
    </ion-button>
  <ion-button color="mfc-danger">
    <ion-icon slot="start" name="heart"></ion-icon>
  </ion-button>
  <ion-button color="mfc-danger">round</ion-button>
  </ion-buttons>
</div>
<div>
  <h4>Pick your size</h4>
    <ion-button color="mfc-danger" fill="outline" size="small">Small</ion-button>
    <ion-button color="mfc-danger" fill="outline">Default</ion-button>
    <ion-button color="mfc-danger" fill="outline" size="large">Large</ion-button>
</div>

<div>
  <h4>Pick your color</h4>
    <ion-button color="mfc-primary" fill="outline" >primary</ion-button>
    <ion-button color="mfc-default" fill="outline">Default</ion-button>
    <ion-button color="mfc-info" fill="outline">info</ion-button>
</div><div>

    <ion-button color="mfc-success" fill="outline" >success</ion-button>
    <ion-button color="mfc-warning" fill="outline">warning</ion-button>
    <ion-button color="mfc-danger" fill="outline">danger</ion-button>
</div>
<div>
    <ion-button color="mfc-primary" fill="solid" >primary</ion-button>
    <ion-button color="mfc-default" fill="solid">Default</ion-button>
    <ion-button color="mfc-info" fill="solid">info</ion-button>
</div><div>

    <ion-button color="mfc-success" fill="solid" >success</ion-button>
    <ion-button color="mfc-warning" fill="solid">warning</ion-button>
    <ion-button color="mfc-danger" fill="solid">danger</ion-button>
</div>
