<ion-card class="mini-card1">
          <ion-card-header class="ion-no-padding">

          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none" color="clear">
              <ion-label slot="start">
                <h3>Total Orders</h3>
                <p>last year expenses</p>
              </ion-label>
              <ion-label  slot="end">
                <h1>1896</h1>

              </ion-label>
            </ion-item>

            <ion-progress-bar part="progress"[value]="progress"></ion-progress-bar>
            <ion-item lines="none" color="clear">
              <ion-label slot="start">
                <p>Growth</p>
              </ion-label>
              <ion-label  slot="end">
                <p>100%</p>
              </ion-label>
            </ion-item>
          </ion-card-content>

        </ion-card>
