<ion-card>
  <img alt="Silhouette of mountains" src="assets/images/mfc/cardBG.jpg" />
  <ion-avatar>
    <img alt="Silhouette of mountains" src="assets/images/mfc/carDriver2.jpg">
  </ion-avatar>
  <h3  class="ion-text-center">Super Driver</h3>
  <ion-card-header class="ion-text-center">
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="ion-text-center">
    <p>Here's a small text description for the card content. Nothing more, nothing less.</p>
  </ion-card-content>
</ion-card>
