<ion-grid class="ion-margin-top">
  <ion-item lines="none"color="light">
    <ion-label class="title">New Launched</ion-label>
    <ion-button slot="end" size="small" shape="round" color="primary">View All</ion-button>
  </ion-item>
  <ion-row>
    <swiper-container [slidesPerView]="2.5">
      <swiper-slide *ngFor="let car of newLunched" class="ion-margin">
        <ion-card class="ion-no-margin"  [routerLink]="['/', 'tabs', 'item', car.id]">
          <ion-card-header class="ion-no-padding">
            <img [src]="car?.img" alt="{{car?.name}}">
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-item lines="none">
              <ion-label>
                {{car?.name}}
              </ion-label>
              <ion-text class="price" slot="end" color="primary"><b>{{car?.category}}</b></ion-text>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </ion-row>
</ion-grid>
