@import "../../../../theme/typography.scss";

ion-item.top-banner{
  @include mfc-header2;
}

ion-list.cars-list {
  // background: var(--ion-color-light);
  padding-bottom: 10vh;
  ion-list-header {
    padding-inline-start: 3.5vh;
  }
  ion-list-header,
  ion-item {
    ion-label {
      font-size: 1.1rem;
    }
    ion-label.price-label {
      margin-left: 50%;
    }
  }

  ion-item-group {
    padding: 0 2.5vh;
    ion-item {
      font-weight: bold;
      border-radius: 5px;
      margin-bottom: 1vh;
      --padding-start: 0;
      ion-text[slot="end"] {
        font-size: 1rem;
      }
      box-shadow: 1px 1px 1px 1px rgba(232, 234, 234, 0.8);
      p {
        font-size: 0.9rem;
        font-weight: normal;
        margin-top: 3px;
      }
      ion-thumbnail {
        height: 12vh;
        width: 15vh;
        border-radius: 10px;
        background: var(--ion-color-white);
        box-shadow: 0px 3px 6px rgb(3 181 170 / 4%);
        img {
          height: 11vh;
          width: 14vh;
          transform: translateY(5%);
          border-radius: 5px;
        }
      }
    }
  }
}
