<!-- <ion-radio-group value="strawberries">
  <ion-radio value="grapes">Grapes</ion-radio><br />
  <ion-radio value="strawberries">Strawberries</ion-radio><br />
  <ion-radio value="pineapple">Pineapple</ion-radio><br />
  <ion-radio value="cherries">Cherries</ion-radio>
</ion-radio-group> -->

<ion-radio-group value="custom-checked">
  <ion-radio value="custom" aria-label="Custom checkbox"></ion-radio>
  <ion-radio value="custom-checked" aria-label="Custom checkbox that is checked"></ion-radio>
</ion-radio-group>
