@import "../../../../theme/typography.scss";

ion-grid {
  ion-item {
  }
  ion-row {
    height: 100%;
    swiper-container {
      swiper-slide {

        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-card {

          width: 100%;
          box-shadow: none;
          display: block;
          margin-left: auto;
          margin-right: auto;
          ion-card-header {
            padding: 5px;
            img {
              border-radius: 10px;
              height: 100%;
              object-fit: cover;
            }
          }
          ion-card-content {
            ion-item {
              ion-label {
                @include mfc-lable1;
              }
              ion-text {
                @include mfc-lable1;
              }
            }
          }
        }
      }
    }
  }
}

@media(min-width: 580px ) {
  ion-grid {
    height: 40rem;
  }
  ion-card-header {
    height: 35rem;
  }
}

// @media(max-width: 576px) {
//   ion-grid {
//     height: 15rem;
//   }
//   ion-card-header {
//     height: 10rem;
//   }

// }
