<div class="basic-usage">
  <h3>Basic Usage </h3>
  <ion-checkbox>I agree to the terms and conditions</ion-checkbox>
</div>

<div class="label-placement">
  <h3>label Placement </h3>
  <ion-checkbox labelPlacement="start">Label at the Start</ion-checkbox>

  <br />

  <ion-checkbox labelPlacement="end">Label at the End</ion-checkbox>

  <br />

  <ion-checkbox labelPlacement="fixed">Fixed Width Label</ion-checkbox>

</div>

<div class="justification">
  <h3>Justification</h3>
  <ion-list>
    <ion-item>
      <ion-checkbox justify="start">Packed at the Start of Line</ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-checkbox justify="end">Packed at the End of Line</ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-checkbox justify="space-between">Space Between Label and Control</ion-checkbox>
    </ion-item>
  </ion-list>
</div>

<div class="theming">
  <h3>Theming</h3>
  <ion-checkbox class="checkbox-style">Themed checkbox</ion-checkbox>
</div>

