@import "../../../theme/typography.scss";

ion-header {
  box-shadow: none;
  ion-item-group {
    ion-item {
      ion-thumbnail {
        background: black;
        height: 50px;
        margin: 10px;
        img {
          padding: 8px;
        }
      }
    }
  }
}

ion-content {
  ion-grid {
    margin: 0;
    padding: 0;
    ion-row {
      swiper-container {
        width: 90%;
        height: 100%;
        swiper-slide {
          margin: 0 !important;
          display: flex;
          justify-content: center;
          align-items: center;
          ion-card {
            width:100%;
            box-shadow: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
            img {
              border-radius: 10px;
              height: 350px;
              width: 350px;
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
            ion-card-header {
              padding: 0;
              margin: 35px 0 35px 0;
              ion-card-title {
                @include mfc-lable2;
              }
            }
            ion-card-content {
              padding: 0;
              margin-bottom: 35px;
              font-size: 1em;
            }
            ion-button {
              width: 80%;
              display: block;
            margin-left: auto;
            margin-right: auto;
            }
          }
        }
      }
    }
  }
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom,235px);
  top: var(--swiper-pagination-top,auto);
  left: 0;
  width: 100%;
}

