<ion-header [translucent]="true">
  <ion-item-group>
    <ion-item lines="none">
      <div slot="end">
        <ion-thumbnail>
          <img src="../../../assets/images/logo.webp" alt="img">
        </ion-thumbnail>
      </div>
    </ion-item>
  </ion-item-group>
</ion-header>


<ion-content>
  <ion-grid class="ion-margin-top">
    <ion-row>
      <swiper-container class="mySwiper" centered-slides="true"  navigation="true">
        <swiper-slide class="ion-margin">
          <ion-card>
            <img src="assets/images/start/key.jpg" alt="first car" />

            <ion-card-header>
              <ion-card-title>Buy your</ion-card-title>
              <ion-card-title>first dream</ion-card-title>
              <ion-card-title>car</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Here's a small text description for the car. Nothing more, nothing less.
              Here's a small text description for the car. Nothing more, nothing less.
            </ion-card-content>

            <ion-button expand="block" color="tertiary" align="bottom" (click)="buyNewCarHandlButton('buy-new-car')">Buy new
              car</ion-button>
          </ion-card>
        </swiper-slide>
        <swiper-slide class="ion-margin">
          <ion-card>
            <img src="assets/images/start/sale.jpg" alt="first car" />
            <ion-card-header>
              <ion-card-title>Buy your</ion-card-title>
              <ion-card-title>first dream</ion-card-title>
              <ion-card-title>car</ion-card-title>

            </ion-card-header>

            <ion-card-content>
              Here's a small text description for the car. Nothing more, nothing less.
              Here's a small text description for the car. Nothing more, nothing less.
            </ion-card-content>
            <ion-button expand="block" color="tertiary" align="bottom" (click)="buyNewCarHandlButton('buy-old-car')">Buy old
              car</ion-button>
          </ion-card>
        </swiper-slide>
        <swiper-slide class="ion-margin">
          <ion-card>
            <img src="assets/images/start/firstCar.jpg" alt="first car" />
            <ion-card-header>
              <ion-card-title>Buy your</ion-card-title>
              <ion-card-title>first dream</ion-card-title>
              <ion-card-title>car</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Here's a small text description for the car. Nothing more, nothing less.
              Here's a small text description for the car. Nothing more, nothing less.
            </ion-card-content>
            <ion-button expand="block" color="tertiary" align="bottom" (click)="buyNewCarHandlButton('sell-my-car')">Sell my
              car</ion-button>
          </ion-card>
        </swiper-slide>
      </swiper-container>
    </ion-row>
  </ion-grid>

</ion-content>
