<ion-card class="mini-card1">
  <ion-card-header class="ion-no-padding">

  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none" color="clear">
      <ion-label slot="start">
        <h3>Followers</h3>
        <p>People Interested</p>
      </ion-label>
      <ion-label  slot="end">
        <h1>45,9%</h1>

      </ion-label>
    </ion-item>

    <ion-progress-bar part="progress"[value]="progress"></ion-progress-bar>
    <ion-item lines="none" color="clear">
      <ion-label slot="start">
        <p>Twitter Progress</p>
      </ion-label>
      <ion-label  slot="end">
        <p>100%</p>
      </ion-label>
    </ion-item>
  </ion-card-content>

</ion-card>
